spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.google.scope=
jwt.secret=
jwt.expiration=
